USE [master]
GO
/****** Object:  Database [ApiCrud]    Script Date: 5/08/2021 18:01:08 ******/
CREATE DATABASE [ApiCrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApiCrud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ApiCrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApiCrud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ApiCrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApiCrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApiCrud]
GO
USE [ApiCrud]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 5/08/2021 18:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_usuario] [varchar](16) NULL,
	[nombre_completo] [varchar](128) NULL,
	[email] [varchar](64) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [codigo_usuario], [nombre_completo], [email], [password]) VALUES (1, N'BT001', N'Greta Alvarez', N'greta.alvarez@blautech.us', N'123456')
INSERT [dbo].[usuario] ([id], [codigo_usuario], [nombre_completo], [email], [password]) VALUES (2, N'BT002', N'Marco Mendoza', N'marco.mendoza@blautech.us', N'123456')
INSERT [dbo].[usuario] ([id], [codigo_usuario], [nombre_completo], [email], [password]) VALUES (4, N'BT004', N'Jorge Jordan', N'jorgejordan2019@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[usuario] OFF
USE [master]
GO
